<div ng-controller="radiographCtl" style="align-content: center; vertical-align: top;
background-color: #8c8c8c; opacity: 0.5; border-style: dotted">
<span ng-show="authenticationError" class="help-block">
    Please check the entries and try again.
     </span>
    <h1> <u> Radiograph Registration Form</u></h1>
    <form role="form" ng-submit="addradiograph()" class="well-body loginForm">

        <div class="form-group">
            <label for="pin">pin:</label>
            <input type="text" class="form-control" id="pin" name="pin" ng-model="pin"/>
        </div>
        <div class="form-group">
            <label for="title">Title:</label>
            <input type="text" class="form-control" id="title" name="title" ng-model="title"/>
        </div>
        <div class="form-group">
            <label for="description">Description:</label>
            <textarea class="form-control" id="description" name="description" ng-model="description"/>
        </div>
        <div class="checkbox">
            <label>
                <input type="checkbox" ng-model="agreed"/><span> I agree that the above information is correct.</span>
            </label>
        </div>
        <button type="submit" class="btn btn-primary">Add radiograph</button>

    </form>
</div>
